h1{
	align-content: center;
	text-align: center;
}

table{
	margin: auto;
}
#centre{
	border-top: 2px solid blue;
	border-bottom: 2px solid blue;
}
td{
	height: 100px;
	width: 100px;
	
}
.vertical{
	border-left: 2px solid blue;
	border-right: 2px solid blue;
	/*border-color: blue;*/
}
.horizontal{
	border-top: 2px solid blue;
	border-bottom: 2px solid blue;
}